<div class="p-3">
    <h1>Promote Employee</h1>
    <form
      [formGroup]="employeePromoteForm"
      (ngSubmit)="onSubmit()"
      class="space-y-4"
    >
      <div class="grid grid-cols-2 gap-x-2">
        <mat-form-field class="col-span-2" appearance="fill">
          <mat-label>New Job</mat-label>
          <mat-select formControlName="newJobId">
              @for (job of jobs; track $index) {
                  <mat-option [value]="job.id">{{ job.value }}</mat-option>
              }
            </mat-select>
        </mat-form-field>
        <mat-form-field class="col-span-2" appearance="fill">
          <mat-label>New Department</mat-label>
          <mat-select formControlName="newDepartmentId">
            @for (department of departments; track $index) {
              <mat-option [value]="department.id">{{
                  department.value
              }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="flex justify-end gap-x-2">
        <button
          mat-raised-button
          color="primary"
          (click)="dialogRef.close()"
          type="button"
        >
          Close
        </button>
        <button mat-raised-button color="primary" type="submit">
          Submit
        </button>
      </div>
    </form>
</div>